<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="assets/logo.png" alt="Logo" width="50" height="50" class="mr-2">
            Nouveau cycle
        </a>
        <button class="navbar-toggler text-end" type="button" data-toggle="collapse" data-target="#menuItems" aria-controls="menuItems" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menuItems">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/itineraires">Itinéraires</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/statistiques">Statistiques</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="/interet" role="button">
                        Points d'intérêts
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" routerLink="/ajouter-interet">Ajouter Point d'intérêt</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
