<footer class="bg-light p-3 fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="https://www.facebook.com/etienne.cote.161"><img src="assets/facebook.png" alt="Social Media 1" width="50" height="50"></a>
                <a href="https://www.instagram.com/_charlesbourgeois/"><img src="assets/instagram-logo.png" alt="Social Media 2" width="50" height="50"></a>
                <a href="https://x.com/j_sims420?s=11&t=e1WRdl2dEiELRFQTaP0b5w"><img src="assets/X_logo.png" alt="Social Media 3" width="50" height="50"></a>
            </div>
            <div id="nomGroupeEquipe" class="col-md-6 text-end fst-italic">
                © 2023, GTI525 Groupe 02 - Équipe 07
            </div>
        </div>
    </div>
</footer>