<div class="outer-wrapper">
  <div class="container bottom-margin">
    <div class="left-section">
      <h3>Statistiques</h3>
      <p>Statistiques des pistes cyclables de Montréal</p>
      <h6 class="top-margin"> Les plus populaires par période</h6>
      <input type="date" class="input-width" />
      <h6 class="top-margin"> Recherche de compteur</h6>
      <div class="flex">
        <input type="text" class="input-width" />
        <button class="left-margin button-width"></button>
      </div>
    </div>
    <div class="right-section">
      <!-- Your map goes here -->
    </div>
  </div>
</div>
