<div class="full-page">
  <h1 class="display-4 text-white">Notre Projet</h1>
  <img class="image" src="../../assets/DSC_4342-5fff9b5.jpg" alt="Description of Image">
  <p class="margin-left margin-right text">
      Nouveau Cycle est un projet innovant qui vise à révolutionner la mobilité urbaine. Dans un monde où la
      congestion et la pollution sont de plus en plus préoccupantes, le vélo émerge comme une solution écologique et
      efficace. Adopter le cyclisme en milieu urbain réduit notre empreinte carbone, améliore notre santé et revitalise
      les espaces publics. En faisant la promotion d'une culture cyclable, nous espérons contribuer à des villes plus
      vertes, plus propres et plus vivables pour tous.
  </p>
</div>
