<div class="outer-wrapper">
  <div class="container bottom-margin">
    <div class="left-section">
      <h3>Piste et voies cyclables</h3>
      <p>La ville de montréal offre de multiple piste cyclables à découvrir !</p>
      <h6> Réseaux</h6>
      <select>
        <option>Saisonnier</option>
        <option>4 saisons</option>
      </select>
      <div class="top-margin">
        <h6> Types de voie</h6>
        <div>
          <input type="checkbox" id="checkbox1">
          <label for="checkbox1">Voies protégées</label>
        </div>
        <div>
          <input type="checkbox" id="checkbox2">
          <label for="checkbox2">Voies partagées</label>
        </div>
      </div>
      <h6 class="top-margin"> Les plus populaires par période</h6>
      <div class="flex">
        <p class="right-margin p-width">De:</p>
        <input type="date" class="input-width"/>
      </div>
      <div class="flex top-margin">
        <p class="right-margin p-width">À:</p>
        <input type="date" class="input-width" />
      </div>
    </div>
    <div class="right-section">
      <!-- Paste the copied iframe code here -->
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2796.004123312487!2d-73.56725668444202!3d45.50168897910156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91a541c64b70d%3A0x654e3138211fefef!2sMontreal%2C%20QC%2C%20Canada!5e0!3m2!1sen!2sus!4v1633801234567!5m2!1sen!2sus" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>
