/* Styles généraux */
body, html {
  font-family: 'Arial', sans-serif;
}

.outer-wrapper {
  width: 100vw;
  height: 89vh;
  background: url('../../assets/lofi-nightlife-city-thumb.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  margin-top: 40px;
  display: flex;
  width: 90%;
  height: 90%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-section, .right-section {
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  border-radius: 4px;
}

.left-section {
  background-color: white;
  flex: 0 0 25%;
  margin-right: 10px; /* Espacement entre les sections */
}

.right-section {
  flex: 1;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-margin {
  margin-top: 20px;
}

.flex {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.input-width {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.right-margin {
  margin-right: 20px;
}

/* Pour les éléments avec une largeur définie */
.p-width {
  width: 10px;
}

.bottom-margin {
  margin-bottom: 20px;
}

/* Envisagez d'ajouter des transitions ou d'autres effets pour rendre l'interface utilisateur plus fluide. Par exemple: */
.input-width, button {
  transition: all 0.3s ease;
}

button:hover {
  background-color: #ddd; /* Changez ceci en fonction de vos préférences */
}
