<div class="outer-wrapper">
  <div class="container bottom-margin">
    <div class="left-section">
      <h3>Piste et voies cyclables</h3>
      <p>La ville de montréal offre de multiple piste cyclables à découvrir !</p>
      <h6> Réseaux</h6>
      <select>
        <option>Saisonnier</option>
        <option>4 saisons</option>
      </select>
      <div class="top-margin">
        <h6> Types de voie</h6>
        <div>
          <input type="checkbox" id="checkbox1">
          <label for="checkbox1">Voies protégées</label>
        </div>
        <div>
          <input type="checkbox" id="checkbox2">
          <label for="checkbox2">Voies partagées</label>

        </div>
      </div>
      <h6 class="top-margin"> Les plus populaires par période</h6>
      <div class="flex">
        <p class="right-margin p-width">De:</p>
        <input type="date" class="input-width" />
      </div>
      <div class="flex top-margin">
        <p class="right-margin p-width">À:</p>
        <input type="date" class="input-width" />
      </div>
    </div>
    <!-- right-section -->
    <div class="right-section">
      <div class="info-icon" (click)="openModal()">i</div>
      <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close" (click)="closeModal()">&times;</span>
          <!-- Legend Title -->
          <h3>Légende</h3>

          <!-- Legend Items -->
          <ul class="legend-list">
            <li><span class="legend-icon rev-icon"></span> Le REV</li>
            <li><span class="legend-icon shared-path-icon"></span> Voie partagée</li>
            <li><span class="legend-icon protected-path-icon"></span> Voie protégée</li>
            <li><span class="legend-icon multipurpose-trail-icon"></span> Sentier polyvalent</li>
          </ul>

          <button class="modal-close-btn" (click)="closeModal()">Fermer</button>

        </div>

      </div>
      <app-dynamic-map></app-dynamic-map>
    </div>

  </div>
</div>
