/* Styles généraux */
body, html {
  font-family: 'Arial', sans-serif;
}

.outer-wrapper {
  width: 100vw;
  height: 89vh;
  background: url('../../assets/lofi-nightlife-city-thumb.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  margin-top: 40px;
  display: flex;
  width: 90%;
  height: 90%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-section, .right-section {
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  border-radius: 4px;
}

.left-section {
  background-color: white;
  flex: 0 0 25%;
  margin-right: 10px;
}

.right-section {
  flex: 1;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-margin {
  margin-top: 20px;
}

.flex {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.input-width {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.right-margin {
  margin-right: 20px;
}

.p-width {
  width: 10px;
}

.bottom-margin {
  margin-bottom: 20px;
}

.input-width, button {
  transition: all 0.3s ease;
}

button:hover {
  background-color: #ddd;
}

.info-icon {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-color: #007bff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 25px;
  user-select: none;
  margin-left: 10px;
  z-index: 100;
}

.modal {
  z-index: 1;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.right-section {
  position: relative;
}

.app-dynamic-map {
  z-index: 1;
}

/* Modal content styles */
.modal-content {
  /* ... existing styles ... */
}

/* Legend list styles */
.legend-list {
  list-style: none; /* Removes default list styling */
  padding: 0; /* Removes default padding */
}

.legend-list li {
  margin-bottom: 5px; /* Adds spacing between legend items */
}

.legend-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.rev-icon {
  background-color: #2AC7DD;
}

.shared-path-icon {
  background-color: #84CA4B;
}

.protected-path-icon {
  background-color: #025D29;
}

.multipurpose-trail-icon {
  background-color: #B958D9;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Close button styles */
.modal-close-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  padding: 5px 10px;
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* button group css */
.button-group {
  display: inline-flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #BDD4FB;
  color: white;
  outline: none;
  font-size: 16px;
}

.button:hover {
  background-color: #ADC6FB;
}

.button.active {
  background-color: #7BA4FC;
}

/* Optional: Add some custom styling for when a button is focused or active */
.button:focus, .button:active {
  background-color: #6B8EFC;
}
