<div class="full-page">
  <h1 class="display-4 text-white">Notre Équipe</h1>
  <div class="row justify-content-center align-items-center full-width">
    <div class="col-2 card-width">
      <div class="card">
        <img class="card-img-top" src="../../assets/julien-logo.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Julien</h5>
        </div>
      </div>
    </div>
    <div class="col-2 card-width">
      <div class="card">
        <img class="card-img-top" src="../../assets/download.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Cédric</h5>
        </div>
      </div>
    </div>
    <div class="col-2 card-width">
      <div class="card">
        <img class="card-img-top" src="../../assets/charles-logo.webp" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Charles</h5>
        </div>
      </div>
    </div>
    <div class="col-2 card-width">
      <div class="card">
        <img class="card-img-top" src="../../assets/etienne-log.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Étienne</h5>
        </div>
      </div>
    </div>
  </div>
</div>
