<div class="outer-wrapper">
  <div class="container bottom-margin">
    <div class="left-section">
      <h3>Point d'intérêt</h3>
      <p>Les différents point d'intérêts de la ville de montréal</p>
      <h6> Territoires</h6>
      <div>
        <img src="../../assets/Agglo_550x480.jpg" alt="" class="img">
      </div>
      <h6 class="top-margin"> Arrondissement</h6>
      <select class="opt-width">
        <option>Tous</option>
        <option>Verdun</option>
        <option>Plateau Mont-Royal</option>
        <option>LaSalle</option>
      </select>

      <h6 class="top-margin"> Type de lieu</h6>
      <select class="opt-width">
        <option>Fontaine à boire</option>
        <option>Atelier de réparation de vélo</option>
      </select>

    </div>
    <div class="right-section">
      <table>
        <thead>
          <tr>
            <th>Arrondissement</th>
            <th>Type</th>
            <th>Nom du lieu</th>
            <th>Adresse</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let record of records | paginate: { itemsPerPage: 20, currentPage: currentPage }">
            <td>{{ record.Arrondissement }}</td>
            <td>Fontaine</td>
            <td>{{ record.Nom_parc_lieu }}</td>
            <td>{{ record.Intersection }}</td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    </div>
  </div>
</div>